/* BASE */

body {
  color: #333;
  background-color: #e8ecf1;
}
a {
  text-decoration: none;
  color: #ececec;
}

/* NAVBAR */

#nav {
  width: 100%;
  height: 350px;
  position: relative;
  background-color: #003333;
  text-align: center;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  margin-bottom: 130px;
  padding-top: 15px;
}
#nav.active {
  height: 80%;
}
#nav.active #nav-inner {
  display: block;
  padding: 2em 0px;
}
#nav .nav-title {
  color: #bdc3c7;
  padding: 20px;
  font-size: 1.3em;
  margin: 0px;
}
#nav #nav-icons-container {
  margin-bottom: 30px;
}
#nav .nav-icon {
  width: 30px;
  height: 30px;
  margin: 30px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#nav .nav-icon:hover {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(213deg)
    brightness(105%) contrast(106%);
}
#nav #photo {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}
#nav .line {
  position: absolute;
  display: none;
  left: 0px;
  bottom: 50px;
  width: 300px;
  height: 2px;
  background-color: black;
  z-index: -1;
}
#nav #education {
  position: relative;
  top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#nav #education-icon {
  width: 30px;
  height: 30px;
  align-self: center;
}
#nav #education-text {
  margin: 5px;
  line-height: 20px;
  color: #2e3131;
}

/* CARDS */

#main-title {
  margin: 50px;
  position: relative;
  top: 100px;
}
.project-card {
  position: relative;
  top: 100px;
  text-align: center;
  margin-top: 20px;
  background-color: #2e3131;
  padding: 30px;
  clip-path: padding-box;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.project-card:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform: scale(1.1);
}
.project-tags {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.tag {
  border-radius: 10px;
  padding: 5px;
  margin: 10px 5px;
  color: #ececec;
}
.tag.red {
  background-color: #c0392b;
}
.tag.red-light {
  background-color: #e74c3c;
}
.tag.purple {
  background-color: #9b59b6;
}
.tag.yellow {
  background-color: #e2b13c;
}
.tag.green {
  background-color: #019875;
}
.tag.green-light {
  background-color: #2ecc71;
}
.tag.blue {
  background-color: #2980b9;
}
.tag.orange {
  background-color: #d35400;
}
.tag.midnight {
  background-color: #395068;
}
.tag.grey {
  background-color: #7f8c8d;
}

/* MEDIA QUERIES */

@media (min-width: 1280px) {
  #layout {
    padding-left: 300px;
    display: flex;
  }
  #nav {
    position: fixed;
    top: 0px;
    bottom: 0px;
    overflow: auto;
    left: 0px;
    width: 300px;
    height: 100%;
  }
  #nav-inner {
    display: block;
    padding: 2em 0;
  }
  #nav #nav-icons-container {
    margin-bottom: 0px;
  }
  #nav #education {
    top: 100px;
  }
  #nav #education-icon {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(213deg)
      brightness(80%) contrast(80%);
  }
  #nav #education-text {
    color: #bdc3c7;
  }
  #main {
    position: relative;
    overflow: auto;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
  }
  #main-title {
    top: 20px;
  }
  #nav #photo {
    margin-top: 50px;
  }
  #nav .line {
    display: inline-block;
  }
  .project-card {
    top: 20px;
    margin-left: 5px;
    margin-right: 5px;
  }
}
@media (min-width: 1280px) and (max-height: 800px) {
  #nav .line {
    display: none;
  }
  #nav #education {
    top: 50px;
  }
}
